#
# Copyright (C) 2016 and later, Indie Computing Corp. All rights reserved. License: see package.
#

<Directory "${appconfig.apache2.dir}">
  <IfModule php7_module>
    php_admin_value open_basedir ${appconfig.apache2.dir}:/tmp:${appconfig.datadir}:${appconfig.cachedir}
  </IfModule>
</Directory>
